{% comment %}
  Renders a list of product's price (regular, sale)
  Accepts:
  - product: {Object} Product Liquid object (optional)
  - placeholder: {Boolean} Renders a placeholder price (optional)
  - use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
  - show_badges: {Boolean} Renders 'Sale' and 'Sold Out' tags if the product matches the condition (optional)
  - price_class: {String} Adds a price class to the price element (optional)
  - show_compare_at_price: {Boolean} Renders the compare at price if the product matches the condition (optional)
  Usage:
  {% render 'price', product: product %}
{% endcomment %}
{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price | times: 1
  assign price = target.price | times: 1

  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
    assign money_compare_at_price = compare_at_price | money_with_currency
  else
    assign money_price = price | money
    assign money_compare_at_price = compare_at_price | money
  endif

  if product.tags contains "pack_basic"
    assign money_price = 1499 | money
    assign money_compare_at_price = 3498 | money
  elsif product.tags contains "pack_intermedio"
    assign money_price = 2999 | money
    assign money_compare_at_price = 3999 | money
  elsif product.tags contains "pack_animals"
    assign money_price = 1499 | money
    assign money_compare_at_price = 1999 | money
   elsif product.tags contains "pack_hydration"
    assign money_price =  2999 | money
    assign money_compare_at_price = 4998 | money
   elsif product.tags contains "pack_luxury"
    assign money_price =  3737 | money
    assign money_compare_at_price =  6797 | money
  endif
-%}

{%- unless target == null -%}
  <div class="price">
    {%- if compare_at_price > price -%}
      <div class="price__compare">
        <s class="price-item price-item--regular">
          {{ money_compare_at_price }}
        </s>
      </div>
      <div class="price__current">
        <span class="price-item price-item--regular">
          {%- if product.tags contains "pack_luxury" -%}
            <span>a partir </span>
          {%- endif -%}
           {{ money_price }} EUR 
        </span>
      </div>
    {%- else -%}
      <div class="price__current">
        <span class="price-item price-item--regular">
          {{ money_price }} EUR
        </span>
      </div>
    {%- endif -%}
  </div>
{%- endunless -%}


{%- unless target == null -%}
  <div class="price">
    {%- if compare_at_price > price -%}
      <span class="price__sale">
        <s class="price-item price-item--regular">
          {{ compare_at_price | money }}
        </s>
        <span class="price-item price-item--sale">
          {{ money_price | money }}
        </span>
      </span>
    {%- else -%}
      <span class="price__regular">
        {{ money_price | money }}
      </span>
    {%- endif -%}
  </div>
{%- endunless -%}