{% comment %}
  Renders a list of product's price (regular, sale)
  Accepts:
  - product: {Object} Product Liquid object (optional)
  - placeholder: {Boolean} Renders a placeholder price (optional)
  - use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
  - show_badges: {Boolean} Renders 'Sale' and 'Sold Out' tags if the product matches the condition (optional)
  - price_class: {String} Adds a price class to the price element (optional)
  - show_compare_at_price: {Boolean} Renders the compare at price if the product matches the condition (optional)
  Usage:
  {% render 'price', product: product %}
{% endcomment %}
{%- liquid
   if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif
   
  if product.tags contains "pack_basic"
    assign price = 3499
    assign compare_at_price = 4599
  elsif product.tags contains "pack_intermediate"
    assign price = 4999
    assign compare_at_price = 5999
  elsif product.tags contains "pack_premium"
    assign price = 6999
    assign compare_at_price = 8999
  else
    assign price = target.price
    assign compare_at_price = target.compare_at_price
  endif

  if product.tags contains "pack_basic"
    assign money_price = 34.99 | money
    assign money_compare_at_price = 45.99 | money
  elsif product.tags contains "pack_intermediate"
    assign money_price = 49.99 | money
    assign money_compare_at_price = 59.99 | money
  elsif product.tags contains "pack_premium"
    assign money_price = 69.99 | money
    assign money_compare_at_price = 89.99 | money
  endif
   
  assign money_price = price | divided_by: 100 | money
  assign money_compare_at_price = compare_at_price | divided_by: 100 | money
-%}

{%- unless target == null -%}
  <div class="price">
    {%- if compare_at_price > price -%}
      <span class="price__sale">
        <s class="price-item price-item--regular">
          {{ money_compare_at_price }}
        </s>
        <span class="price-item price-item--sale">
          {{ money_price }}
        </span>
      </span>
    {%- else -%}
      <span class="price__regular">
        {{ money_price }}
      </span>
    {%- endif -%}
  </div>
{%- endunless -%}


{%- unless target == null -%}
  <div class="price">
    {%- if compare_at_price > price -%}
      <span class="price__sale">
        <s class="price-item price-item--regular">
          {{ compare_at_price | money }}
        </s>
        <span class="price-item price-item--sale">
          {{ money_price | money }}
        </span>
      </span>
    {%- else -%}
      <span class="price__regular">
        {{ money_price | money }}
      </span>
    {%- endif -%}
  </div>
{%- endunless -%}