{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif

  {%- comment -%}
  Asignar precios personalizados basados en etiquetas
  {%- endcomment -%}
  if product.tags contains "pack_basic"
    assign price = 31
    assign compare_at_price = 4599
  elsif product.tags contains "pack_intermediate"
    assign price = 4999
    assign compare_at_price = 5999
  elsif product.tags contains "pack_premium"
    assign price = 6999
    assign compare_at_price = 8999
  else
    assign price = target.price
    assign compare_at_price = target.compare_at_price
  endif

  {%- comment -%}
  Conversión a formato monetario
  {%- endcomment -%}
  assign money_price = price | divided_by: 100 | money
  assign money_compare_at_price = compare_at_price | divided_by: 100 | money
-%}

{%- unless target == null -%}
  <div class="price">
    {%- if compare_at_price > price -%}
      <span class="price__sale">
        <s class="price-item price-item--regular">
          {{ money_compare_at_price }}
        </s>
        <span class="price-item price-item--sale">
          {{ money_price }}
        </span>
      </span>
    {%- else -%}
      <span class="price__regular">
        {{ money_price }}
      </span>
    {%- endif -%}
  </div>
{%- endunless -%}



{%- unless target == null -%}
  <div class="price">
    {%- if compare_at_price > price -%}
      <span class="price__sale">
        <s class="price-item price-item--regular">
          {{ compare_at_price | money }}
        </s>
        <span class="price-item price-item--sale">
          {{ money_price | money }}
        </span>
      </span>
    {%- else -%}
      <span class="price__regular">
        {{ money_price | money }}
      </span>
    {%- endif -%}
  </div>
{%- endunless -%}